###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
HabitQuest\.vs\
HabitQuest\v17\
*.log
*.log
*.log
*.vsidx
*.vsidx
*.dwlt
HabitQuest/.vs/HabitQuest/v17/HierarchyCache.v1.txt
HabitQuest/.vs/HabitQuest/v17/fileList.bin
HabitQuest/.vs/HabitQuest/FileContentIndex/f1cc0ff4-9f10-41f9-8c79-68b6b07ba1ec.vsidx
HabitQuest/.vs/HabitQuest/FileContentIndex/2e8b4138-0531-4348-be26-e94cdd2830e8.vsidx
HabitQuest/UserSettings/Layouts/default-2021.dwlt
HabitQuest/.vs/HabitQuest/v17/fileList.bin
*.dwlt
*.bin
*.dwlt
/HabitQuest/Logs
